/* 
    Document   : typography
    Created on : Nov 11, 2011, 7:56:20 AM
    Author     : Greg Bueno
    Description:
        Purpose of the stylesheet follows.
*/

#nav-main
{
	font-size: 120%;
}


a {
	color: #304B75;
}

a:hover {
	color: #402C29;
}

/* 
#content {
	font-family: 'Georgia', serif;
}

*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

#nav-column-1 ul.links li {
	font-size: 120%;
}

#title {
	font-family: 'Lucida Sans Unicode', sans-serif;
}

#title a {
	text-decoration: none;
	color: #000;
}

input[type=text], input[type=password], input[type=email], select, textarea
{
	font-size: 100%;
	font-family: inherit;
}

.form_hidden
{
	display: none;
}

.smaller
{
	font-size: smaller;
}

table.track-table
{
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.button
{
	font-size: 120%;
	text-decoration: none;
	color: #FFF;
}

.button:hover {
	color: #FFF;
}

.submitted {
	font-style: italic;
}

.node h3 a {
	text-decoration: none;
}
