input[type=submit], input[type=reset], input[type=button], input[type=text], input[type=password]
{
	color: #FFF;
	background-color: #000;
}

h4.admin_head
{
	font-weight: bold;
	font-style: italic;
	border-bottom: 1px solid #FFF;
	background-color: #600;
}

.scroll-box
{
	overflow: auto;
	height: 200px;
	border: 1px solid #999;
}

table.Admin, table.Admin_Wide
{
	border: 1px dotted #999;
	border-collapse: collapse;
}

table.Admin_Wide
{
	width: 100%;
}

table.Admin tr.AltRow
{
	background-color: #663;
}

table.Admin td, table.Admin_Wide td
{
	border: 1px dotted #999;
}

table.Admin th, table.Admin_Wide th
{
	border: 1px dotted #999;
	font-size: 75%;
	color: #FFF;
	background-color: #966;
}

tbody tr:nth-child(even) td, tbody tr.even td
{
	background: inherit;
}

#album-list, .inline-nav
{
	list-style: none;
}

#album-list li, .inline-nav li
{
	display: inline;
}

#track-template
{
	display: none;
}

.hidden
{
	display: none;
}

.browse-list
{
	list-style: none;
}

.browse-info
{
	border: 1px dotted #999;
	margin-bottom: 5px;
	padding: 4px;
	background-color: #966;
}

textarea.slim_textarea
{
	height: 100px;
}