ErrorDocument 401 /index.php/ddn/error/401/
ErrorDocument 403 /index.php/ddn/error/403/
ErrorDocument 404 /index.php/ddn/error/404/
ErrorDocument 500 /index.php/ddn/error/500/

AddType image/x-icon .ico
AddType audio/x-mpeg .mp3
AddType video/mp4 .mp4

Redirect 410 /includes/skins/buy/
RedirectMatch 301 ^/entry/([0-9]*)(/|$) /index.php/news/entry/$1/

SetEnvIf HOST dev.duran-duran.net dev
SetEnvIf HOST test.duran-duran.net test
AuthType Basic
AuthUserFile /home/nemesisv/.htpasswd
AuthName "Duran Duran Networks development site"
require valid-user

Order allow,deny
Allow from all
Deny from env=dev
Deny from env=test
Satisfy any

