#container {
	width: auto;
	margin: 0 auto;
}

#column-1 {
	width: auto;
}

#column-2 {
	width: auto;
}

#masthead {
	width: auto;
	margin-right: 0;
	margin-bottom: 1.5em;
}

#masthead header {
	width: auto;
	margin-right: 10px;
}

#nav-main {
	width: auto;
	margin-right: 10px;
}

#nav-social {
	width: auto;
	margin-right: 0;
}

#nav-social ul, #nav-main ul {
	margin-top: 1.5em;
	list-style-type: none;
}

#nav-social ul li {
	display: inline-block;
	margin: 0 6px 0 0;
	padding: 0;
}

#nav-main ul li {
	display: inline-block;
	margin: 0 24px 0 0;
	padding: 0;
}

