#container {
	margin: 0 auto;
}

#column-1 {
}

#column-2 {
}

#masthead {
	width: 320px;
	margin-right: 0;
	margin-bottom: 1.5em;
	padding-left: 40px;
	padding-right: 40px;
}

#masthead header {
	margin-right: 10px;
}

#nav-main {
	margin-right: 10px;
}

#nav-social {
	margin-right: 0;
}
