/*
    Document   : layout
    Created on : Aug 29, 2012, 9:23:54 PM
    Author     : Greg Bueno
    Description:
        Layout style rules for Shinkyoku Advocacy
*/

.centered {
	text-align: center;
}

textarea {
	border-radius: 4px;
}

input[type=text], input[type=password], input[type=email], input[type=url] {
	border-radius: 4px;
	padding: 3px;
}