/* 
    Document   : typography
    Created on : Aug 29, 2012, 9:24:40 PM
    Author     : Greg Bueno
    Description:
        Typography style rules for Shinkyoku Advocacy
*/

root { 
    display: block;
}

