input[type=radio], input[type=checkbox]
{
	background-color: transparent;
	border: none;
}

label
{
	float: left;
	font-weight: bold;
	width: 150px;
}

label.error, span.error
{
	color: #F99;
	display: none;
}

table
{
	font-size: 100%;
}

.form_hidden
{
	display: none;
}

.smaller
{
	font-size: smaller;
}