body
{
	background-color: #0052A3;
}

input, select, textarea
{
	border: 1px solid #0088C2;
}

input[type=submit], input[type=reset], input[type=button]
{
	background: #036;
}

#container
{
	border: 3px double #0088C2;
}

#top-navigation
{
	background-color: #0088C2;
}

#content
{
	background-color: #036;
}
