body {
	color: #FFF;
	background-color: #000;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
}

a, a:hover, a:visited, a:active {
	color: #1D4575;
}

label {
	float: left;
	width: 150px;
	margin-left: 10px;
}

label.error, span.error {
	color: #F99;
	display: none;
}

footer {
	float: left;
	width: 950px;
	margin-left: 0;
	margin-top: 1.5em;
}

#masthead {
	float: left;
	width: 960px;
	margin-right: 0;
	background-color: #9C0;
	border-radius: 18px;
	padding-top: 3em;
	margin-bottom: 1.5em;
}

#masthead #logo {
	float: left;
	width: 550px;
	margin-right: 10px;
	padding-left: 160px;
}

#masthead #logo-pic {
	float: left;
	width: 230px;
	margin-right: 0;
}

#title {
	color: #000;
}

#nav-social {
	list-style-type: none;
}

#nav-social li {
	float: left;
	margin: 0 6px 0 0;
	padding: 0;
}

#content-header {
	float: left;
	padding-left: 40px;
	width: 870px;
	margin-left: 0;
	padding-right: 40px;
}

.home-column {
	float: left;
	width: 230px;
	margin-right: 10px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #FFF;
	color: #000;
	padding-top: 1em;
	height: 30em;
	border-radius: 10px;
	box-shadow: 2px 2px 0px #399FD5;
}

.home-column.final {
	margin-right: 0;
}

.full-column {
	background-color: #FFF;
	color: #000;
	padding-top: 1em;
	border-radius: 10px;
	box-shadow: 2px 2px 0px #399FD5;
}

.form_hidden {
	display: none;
}

.centered {
	text-align: center;
}
