@font-face {
	font-family: "CartoGothicStd";
	src: url("fonts/CartoGothicStd-Book-webfont.eot");
	src: url("fonts/CartoGothicStd-Book-webfont.eot?iefix") format("eot"),
		url("fonts/CartoGothicStd-Book-webfont.woff") format("woff"),
		url("fonts/CartoGothicStd-Book-webfont.ttf") format("truetype"),
		url("fonts/CartoGothicStd-Book-webfont.svg#webfont") format("svg");
}
@font-face {
	font-family: "CartoGothicStd";
	src: url("fonts/CartoGothicStd-BoldItalic-webfont.eot");
	src: url("fonts/CartoGothicStd-BoldItalic-webfont.eot?iefix") format("eot"),
		url("fonts/CartoGothicStd-BoldItalic-webfont.woff") format("woff"),
		url("fonts/CartoGothicStd-BoldItalic-webfont.ttf") format("truetype"),
		url("fonts/CartoGothicStd-BoldItalic-webfont.svg#webfont") format("svg");
	font-weight: bold;
	font-style: italic, oblique;
}
@font-face {
	font-family: "CartoGothicStd";
	src: url("fonts/CartoGothicStd-Bold-webfont.eot");
	src: url("fonts/CartoGothicStd-Bold-webfont.eot?iefix") format("eot"),
		url("fonts/CartoGothicStd-Bold-webfont.woff") format("woff"),
		url("fonts/CartoGothicStd-Bold-webfont.ttf") format("truetype"),
		url("fonts/CartoGothicStd-Bold-webfont.svg#webfont") format("svg");
	font-weight: bold;
}
@font-face {
	font-family: "Novecentowide";
	src: url("fonts/Novecentowide-Bold-webfont.eot");
	src: url("fonts/Novecentowide-Bold-webfont.eot?iefix") format("eot"),
		url("fonts/Novecentowide-Bold-webfont.woff") format("woff"),
		url("fonts/Novecentowide-Bold-webfont.ttf") format("truetype"),
		url("fonts/Novecentowide-Bold-webfont.svg#webfont") format("svg");
	font-weight: bold;
}
@font-face {
	font-family: "Novecentowide";
	src: url("fonts/Novecentowide-Book-webfont.eot");
	src: url("fonts/Novecentowide-Book-webfont.eot?iefix") format("eot"),
		url("fonts/Novecentowide-Book-webfont.woff") format("woff"),
		url("fonts/Novecentowide-Book-webfont.ttf") format("truetype"),
		url("fonts/Novecentowide-Book-webfont.svg#webfont") format("svg");
}
@font-face {
	font-family: "Novecentowide";
	src: url("fonts/Novecentowide-BoldItalic-webfont.eot");
	src: url("fonts/Novecentowide-BoldItalic-webfont.eot?iefix") format("eot"),
		url("fonts/Novecentowide-BoldItalic-webfont.woff") format("woff"),
		url("fonts/Novecentowide-BoldItalic-webfont.ttf") format("truetype"),
		url("fonts/Novecentowide-BoldItalic-webfont.svg#webfont") format("svg");
	font-weight: bold;
	font-style: italic, oblique;
}	

body {
	font-size: 87.5%;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
}

#title {
	font-family: "CartoGothicStd", Helvetica, Arial, sans-serif;
	font-size: 6em;
	text-transform: uppercase;
}

#title a, #title a:hover, #title a:active {
	color: #000;
	text-decoration: none;
}

#music h3, #web h3, #writing h3, #contact h3 {
	font-family: "Novecentowide", Helvetica, Arial, sans-serif;
	font-size: 3em;
	margin-bottom: 0.5em;
}

h2.section-head {
	font-family: "Novecentowide", Helvetica, Arial, sans-serif;
	color: #FFF;
}

h3.section-label {
	font-family: "CartoGothicStd", Helvetica, Arial, sans-serif;
	color: #FFF;
}

label {
	font-weight: bold;
}

label.error, span.error {
	display: none;
}

#title {
	color: #000;
}

