body
{
	font-family: 'georgia', 'book antiqua', 'palatino linotype', 'palatino', 'times new roman', 'times', serif;
	background-color: #0F1715;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'helvetica', sans-serif;
}

.link-subhead
{
	margin-bottom: 0;
}

h2.section-head
{
	margin-bottom: 0;
}

a:hover
{
	color: #399FD5;
}

a, a:focus
{
	color: #EBAD15;
}

input, select, textarea
{
	font-size: 100%;
	border: 1px solid #253431;
	font-family: inherit;
}

textarea
{
	width: 375px;
}

input[type=radio], input[type=checkbox]
{
	background-color: transparent;
	border: none;
}

input[type=submit], input[type=reset], input[type=button]
{
}

label
{
	float: left;
	font-family: 'helvetica', sans-serif;
	font-weight: bold;
	width: 150px;
}

label.error, span.error
{
	color: #F99;
	display: none;
}

.form_hidden
{
	display: none;
}

.smaller
{
	font-size: smaller;
}

.source-title
{
	margin-bottom: 0;
}

#frame-1 .source-title a
{
	color: #000;
	text-decoration: none;
}

.source-label
{
	border-bottom: 1px solid #253431;
}

#masthead
{
	background-color: #99CC00;
	border-bottom: 3px double #399FD5;
}

#title
{
	font-size: 500%;
}

#masthead #title a
{
	color:inherit;
	text-decoration: none;
}

#frame-1
{
	color: #000;
	background-color: #F0F0F0;
}

#frame-1 a
{
	color: #1D4575;
}

#frame-2
{
	color: #FFF;
}

#frame-2 h1, #frame-2 h2, #frame-2 h3, #frame-2 h4, #frame-2 h5, #frame-2 h6
{
	color: #FFF;
}

#frame-2 a
{
	font-family: 'helvetica', sans-serif;
}
