*
{
	font-family: verdana, arial, helvetica;
}

body
{
	background-color: #333;
	margin: 0px;
	font-size: 13px;
	color: #FFF;
	text-align: center;
}

input, select, textarea
{
	background-color: #000;
	color: #FFF;
	font-size: 100%;
	border: 1px solid #FFF;
}

input[type=submit], input[type=reset], input[type=button]
{
}

#Masthead
{
	text-align: right;
	border: 1px solid #00F;
}

#Content
{
	width: 950px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

#Content a
{
	font-weight: bold;
}

#Content a.Normal
{
	color: #F99;
	font-weight: normal;
	text-decoration: none;
}

#Main
{
	border: 3px double #FFF;
	margin-top: 100px;
	padding: 15px;
	background-color: #666;
	width: 675px;
	float: left;
}

#Main a
{
	color: #FC0;;
	text-decoration: underline;
}

#Main a:hover
{
	color: #FC0
}

#Nav
{
	float: right;
	width: 225px;
	text-align: right;
}

#Nav a
{
	color: #F33;
	font-weight: bold;
	text-decoration: none;
}

#Nav a:hover
{
	color: #CCC;
	text-decoration: underline;
}

#Nav a.title
{
	text-decoration: none;
	font-weight: normal;
	color: #FFF;
	font-size: 20pt;
}

#Nav a.title:hover
{
	text-decoration: none;
	color: #FFF;
}

#Nav .normal-links a, #Content .normal-links a
{
	font-weight: normal;
}

.section
{
	text-decoration: underline;
	font-weight: bold;
}

