body
{
	background-color: #669;
}

input, select, textarea
{
	border: 1px solid #CCF;
}

input[type=submit], input[type=reset], input[type=button]
{
	background: #336;
}

#Content
{
	border-color: #CCF;
}

#TopNav
{
	background-color: #7171B7;
}

#Main
{
	background-color: #336;
}
