body
{
	background-color: #066;
}

input, select, textarea
{
	border: 1px solid #0CC;
}

input[type=submit], input[type=reset], input[type=button]
{
	background: #033;
}

#Content
{
	border-color: #099;
}

#TopNav
{
	background-color: #00A3A3;
}

#Main
{
	background-color: #033;
}
