ErrorDocument 401 /index.php/mw/error/401/
ErrorDocument 403 /index.php/mw/error/403/
ErrorDocument 404 /index.php/mw/error/404/
ErrorDocument 500 /index.php/mw/error/500/

<Limit GET>
order allow,deny
deny from 122.161.
deny from 122.162.
deny from 122.163.
deny from 12.248.43.77
deny from 61.
deny from 64.231.
deny from 65.19.
deny from 65.239.90.
deny from 66.185.84.
deny from 67.20.
deny from 87.
deny from 194. 
deny from 200.
deny from 203.
deny from 201.
deny from 206.
deny from 212.8.
deny from 216.
deny from 218.
allow from all
</LIMIT>

<Limit POST>
order allow,deny
deny from .rogers.com
allow from all
</Limit>

AddType image/x-icon .ico
AddType text/xml .rdf

IndexIgnore CVS

Redirect 410 /includes/entry.php
RedirectMatch 301 ^/about.php /index.php/mw/about/
RedirectMatch 301 ^/contact.php /index.php/fw/contact/
RedirectMatch 301 ^/terms.php /index.php/mw/terms/
RedirectMatch 301 /(artists)/(.*) http://archive.musicwhore.org/$1/$2
RedirectMatch 301 /(news|reviews).rdf http://www.musicwhore.org/index.xml
RedirectMatch 301 /artist.php(.*) http://archive.musicwhore.org/artists/artist.php$1
RedirectMatch 301 /discog.php(.*) http://archive.musicwhore.org/artists/discog.php$1
RedirectMatch 301 /lyrics.php(.*) http://archive.musicwhore.org/artists/lyrics.php$1
RedirectMatch 301 /review.php(.*) http://archive.musicwhore.org/artists/review.php$1
RedirectMatch 301 /news/news.php(.*) http://archive.musicwhore.org/entry.php$1
RedirectMatch 301 /(music|reviews)/review.php(.*) http://archive.musicwhore.org/entry.php$2
RedirectMatch 301 /(news|reviews|shop)/(.*) http://archive.musicwhore.org/
RedirectMatch 301 ^/category/([0-9]*)(/|$) /index.php/mw/category/$1/
RedirectMatch 301 ^/date/([0-9]*)/([0-9]*)(/|$) /index.php/mw/date/$1/$2/
RedirectMatch 301 ^/entry/([0-9]*)(/|$) /index.php/mw/entry/$1/
RedirectMatch 301 ^/journal(/|$) http://www.gregbueno.com/index.php/journal/
RedirectMatch 410 /playlist.xml(.*)$
RedirectMatch 410 .*\.phtml$
RedirectMatch 410 /audio/(.*)$
RedirectMatch 410 /audio\.php(.*)$
RedirectMatch 410 /music/features/(.*)$
RedirectMatch 410 /weblog\.php(.*)$

RewriteEngine On
RewriteRule ^index\.rdf index.xml
RewriteRule ^podcast/(.*)$ /index.php/mw/category/34/ [L]
RewriteRule ^mp3/(.*)(/|$) /index.php/dl/$1/ [L]
RewriteRule ^koechel(/|$) - [G]
RewriteCond %{QUERY_STRING} ^entry_id=([0-9]+)$
RewriteRule ^entry\.php$ /index.php/mw/entry/%1/? [R=301]
RewriteCond %{QUERY_STRING} ^entry_id=([0-9]+)$
RewriteRule ^mobile\/story\.php$ - [G]
RewriteCond %{QUERY_STRING} ^track=([0-9]+)$
RewriteRule ^audio\/play\.php$ - [G]
RewriteCond %{QUERY_STRING} ^album(|ID)=([0-9]+)$
RewriteRule ^reviews\/index\.php$ http://archive.musicwhore.org/index.php/artists/content/album/%2/? [R=301]

AuthType Basic
AuthUserFile /home/nemesisv/.htpasswd
AuthName "musicwhore.org dev trunk site"
require valid-user
