ErrorDocument 401 /index.php/ep4/error/401/
ErrorDocument 403 /index.php/ep4/error/403/
ErrorDocument 404 /index.php/ep4/error/404/
ErrorDocument 500 /index.php/ep4/error/500/

<Limit GET>
order allow,deny
deny from 122.161.
deny from 122.162.
deny from 122.163.
allow from all
</LIMIT>

AddType image/x-icon .ico
AddType audio/x-mpeg .mp3
AddType video/mp4 .mp4
AddType video/ogg .ogv
AddType video/webm .webm

IndexIgnore CVS

#RewriteEngine On

AuthType Basic
AuthUserFile /home/nemesisv/.htpasswd
AuthName "eponymous4.com dev trunk site"
require valid-user
