/* Overwritten elements */
body
{
	font-family: 'trebuchet ms', sans-serif;
	color: #FFF;
}

a, a:focus, a:hover
{
	color: #CC9;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

table
{
	font-size: 100%;
}

label
{
	font-weight: bold;
}

label.error, span.error
{
	color: #F99;
}

#masthead
{
	color: #FFF;
}

#title
{
	font-family: 'book antiqua', serif;
	color: #FFF;
}

#subtitle
{
	color: #FFF;
}

#masthead-right
{
	color: #FFF;
}

#content
{
	font-size: 13px;
	color: #FFF;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6
{
	font-family: 'helvetica', sans-serif;
	color: #FFF;
}

#facebox .body
{
	color: #000;
}

#facebox a
{
	color: #933;
}

.folio-info
{
	font-size: smaller;
}

.smaller
{
	font-size: smaller;
}

.resume-duty
{
	font-size: 90%;
}

#masthead-right ul.links li:before
{
	content: "• ";
}

#masthead-right ul.links li.active:before
{
	content: "» ";
}

#masthead-right ul.links li a {
	text-transform: lowercase;
}

li a.active {
	color: #CC9;
}

#title a {
	color: #FFF;
	text-decoration: none;
}

