ErrorDocument 401 /index.php/archive/error/401/
ErrorDocument 403 /index.php/archive/error/403/
ErrorDocument 404 /index.php/archive/error/404/
ErrorDocument 500 /index.php/archive/error/500/

<Limit GET>
order allow,deny
allow from all
deny from 12.248.43.77
deny from 61.
deny from 64.231.
deny from 65.19.
deny from 65.239.90.
deny from 66.185.84.
deny from 67.20.
deny from 87.
deny from 194. 
deny from 200.
deny from 203.
deny from 201.
deny from 206.
deny from 212.8.
deny from 218.
</LIMIT>

AddType image/x-icon .ico
AddType text/xml .rdf

IndexIgnore CVS

RedirectMatch 301 ^/category/([0-9]*)/pg/([0-9]*)(/|$) /index.php/content/category/$1/
RedirectMatch 301 ^/category/([0-9]*)(/|$) /index.php/content/category/$1/
RedirectMatch 301 ^/date/([0-9]*)/([0-9]*)/pg/([0-9]*)(/|$) /index.php/content/date/$1/$2/
RedirectMatch 301 ^/date/([0-9]*)/([0-9]*)(/|$) /index.php/content/date/$1/$2/
RedirectMatch 301 ^/artists/dir/([a-z0-9]*)(/|$) /index.php/artists/artist/browse/$1/
RedirectMatch 301 ^/artists/artist/([0-9]*)(/|$) /index.php/artists/artist/info/$1/
RedirectMatch 301 ^/artists/profile/([0-9]*)(/|$) /index.php/artists/artist/profile/$1/
RedirectMatch 301 ^/artists/discog/([0-9]*)/format/([0-9]*)(/|$) /index.php/artists/album/browse/$1/$2/
RedirectMatch 301 ^/artists/discog/tracks/([0-9]*)(/|$) /index.php/artists/album/tracks/$1/
RedirectMatch 301 ^/artists/discog/([0-9]*)(/|$) /index.php/artists/album/browse/$1/
RedirectMatch 301 ^/artists/entries/([0-9]*)(/|$) /index.php/artists/content/browse/$1/
RedirectMatch 301 ^/artists/lyrics/([0-9]*)(/|$) /index.php/artists/lyrics/browse/$1/
RedirectMatch 301 ^/artists/lyrics/lyric/([0-9]*)(/|$) /index.php/artists/lyrics/track/$1/
RedirectMatch 301 ^/entry/([0-9]*)/ /index.php/content/entry/$1/
RedirectMatch 301 ^/terms.php /index.php/archive/terms/
RedirectMatch 301 ^/contact.php /
RedirectMatch 301 ^/reviews(/|$) /index.php/content/category/1/
RedirectMatch 410 ^/new_releases.php
RedirectMatch 410 ^/79242/.*$
RedirectMatch 410 ^/soloist/.*$

RewriteEngine On
#RewriteCond %{QUERY_STRING} ^(.*)\&PHPSESSID=.*$
#RewriteRule ^(.*)$ /$1?%1 [R=301]
RewriteCond %{QUERY_STRING} ^artist(|ID)=([0-9]+)$
RewriteRule ^artists\/artist\.php$ /index.php/artists/artist/info/%2/? [R=301]
RewriteCond %{QUERY_STRING} ^artist(|ID)=([0-9]+)$
RewriteRule ^artists\/entries\.php$ /index.php/artists/content/browse/%2/? [R=301]
RewriteCond %{QUERY_STRING} ^artist(|ID)=([0-9]+)$
RewriteRule ^artists\/profile\.php$ /index.php/artists/artist/profile/%2/? [R=301]
RewriteCond %{QUERY_STRING} ^artist=([0-9]+)$
RewriteRule ^artists\/lyrics\.php$ /index.php/artists/lyrics/browse/%1/? [R=301]
RewriteCond %{QUERY_STRING} ^artist=([0-9]+)$
RewriteRule ^artists\/discog\.php$ /index.php/artists/album/browse/%1/? [R=301]
RewriteCond %{QUERY_STRING} ^album(|ID)=([0-9]+).*$
RewriteRule ^artists\/tracks\.php$ /index.php/artists/album/tracks/%2/? [R=301]
RewriteCond %{QUERY_STRING} ^detail(|ID)=([0-9]+).*$
RewriteRule ^artists\/tracks\.php$ /index.php/artists/album/tracks/%2/? [R=301]
RewriteCond %{QUERY_STRING} ^album(|ID)=([0-9]+).*$
RewriteRule ^music\/review\.php$ /index.php/artists/content/album/%2/? [R=301]
RewriteCond %{QUERY_STRING} ^album(|ID)=([0-9]+).*$
RewriteRule ^reviews\/review\.php$ /index.php/artists/content/album/%2/? [R=301]
RewriteCond %{QUERY_STRING} ^reviewID=([0-9]+)$
RewriteRule ^artists\/review\.php$ /index.php/artists/content/album/%1/? [R=301]
RewriteCond %{QUERY_STRING} ^album(|ID)=([0-9]+).*$
RewriteRule ^$ /index.php/artists/album/tracks/%2/? [R=301]
RewriteCond %{QUERY_STRING} ^trackID=([0-9]+)$
RewriteRule ^artists\/lyrics\.php$ /index.php/artists/lyrics/track/%1/? [R=301]
RewriteCond %{QUERY_STRING} ^album(|ID|id)=([0-9]+).*$
RewriteRule ^entry\.php$ /index.php/artists/content/album/%2/? [R=301]
RewriteCond %{QUERY_STRING} ^entry_id=([0-9]+)$
RewriteRule ^entry\.php$ /index.php/content/entry/%1/? [R=301]
RewriteCond %{QUERY_STRING} ^entry_id=([0-9]+)$
RewriteRule ^news\/news\.php$ /index.php/content/entry/%1/? [R=301]
RewriteCond %{QUERY_STRING} ^filter=category\&category_id=([0-9]+)$
RewriteRule ^archive\.php$ /index.php/content/category/%1/? [R=301]
RewriteCond %{QUERY_STRING} ^filter=date\&date=([0-9]+)/([0-9]+)$
RewriteRule ^archive\.php$ /index.php/content/date/%1/%2/? [R=301]
RewriteCond %{QUERY_STRING} ^ltr=(.+)$
RewriteRule ^artists\/index\.php$ /index.php/artists/artist/browse/%1/? [R=301]
RewriteCond %{QUERY_STRING} ^asin=(.*)$
RewriteRule ^$ http://astore.amazon.com/musicwhoreorg-20/detail/%1? [R=301]
RewriteCond %{QUERY_STRING} ^asin=([^\&]*)\&.*$
RewriteRule ^shop\/amazon\/product\.php$ http://astore.amazon.com/musicwhoreorg-20/detail/%1? [R=301]

SetEnvIf HOST dev.archive.musicwhore.org dev
SetEnvIf HOST test.archive.musicwhore.org test
AuthType Basic
AuthUserFile /home/nemesisv/.htpasswd
AuthName "Musicwhore.org Archive development site"
require valid-user

Order allow,deny
Allow from all
Deny from env=dev
Deny from env=test
Satisfy any

