RewriteEngine On
#RewriteCond %{HTTP_REFERER} ^http://(www\.)?xanga.com.* [NC]
#RewriteRule .*\.(gif|jpg)$ dont_steal_bandwidth_asshat.jpg [L]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?wayoutmusic.org.* [NC]
RewriteRule .*\.(gif|jpg)$ dont_steal_bandwidth_asshat.jpg [L]
RewriteCond %{HTTP_REFERER} ^http://(www\.)?charangoboy.monespace.net.* [NC]
RewriteRule .*\.(gif|jpg)$ dont_steal_bandwidth_asshat.jpg [L]
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://localhost.* [NC]
RewriteCond %{HTTP_REFERER} !^http://musicwhore.* [NC]
RewriteCond %{HTTP_REFERER} !^http://archive.* [NC]
RewriteCond %{HTTP_REFERER} !^http://ddn.* [NC]
RewriteCond %{HTTP_REFERER} !^http://temp.* [NC]
RewriteCond %{HTTP_REFERER} !^http://mt.* [NC]
RewriteCond %{HTTP_REFERER} !^http://mt.vigilantmedia.com* [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?musicwhore.(org|info).* [NC]
RewriteCond %{HTTP_REFERER} !^http://(dev\.archive\.)?musicwhore.(org|info).* [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.archive\.)?musicwhore.(org|info).* [NC]
RewriteCond %{HTTP_REFERER} !^http://(test\.archive\.)?musicwhore.(org|info).* [NC]
RewriteCond %{HTTP_REFERER} !^http://(test\.|www\.)?duran-duran.* [NC]
RewriteCond %{HTTP_REFERER} !^http://mailman.io.com.* [NC]
RewriteRule .*\.(gif|jpg)$ dont_steal.gif [L]
