ErrorDocument 401 /errors/401.php
ErrorDocument 403 /errors/403.php
ErrorDocument 404 /errors/404.php
ErrorDocument 500 /errors/500.php

<Limit GET POST>
order allow,deny
deny from .rogers.com
deny from 84.
deny from 78.
deny from 216.
deny from 122.163.126.129
deny from 91.212.226.
deny from 193.105.210.41
deny from 31.184.236.
deny from 94.242.214.
allow from all
</LIMIT>

AddType image/x-icon .ico
AddType text/xml .rdf

IndexIgnore CVS

SetEnvIf HOST dev.mt.vigilantmedia.com dev
SetEnvIf HOST test.mt.vigilantmedia.com test
AuthType Basic
AuthUserFile /home/nemesisv/.htpasswd
AuthName "Vigilant Media Central Administration development site"
require valid-user

Order allow,deny
Allow from all
Deny from env=dev
Deny from env=test
Satisfy any