table.tracks {border: 1px solid #CC9; border-collapse: collapse; width: 100%;}
table.tracks td {border: 1px solid #CC9;}
table.tracks th {border: 1px solid #CC9; font-size: 7pt; color: #FFF; background-color: #B8002E;}