ErrorDocument 401 /index.php/ep4/error/401/
ErrorDocument 403 /index.php/ep4/error/403/
ErrorDocument 404 /index.php/ep4/error/404/
ErrorDocument 500 /index.php/ep4/error/500/

<Limit GET>
order allow,deny
deny from 122.161.
deny from 122.162.
deny from 122.163.
allow from all
</LIMIT>


AddType image/x-icon .ico
AddType audio/x-mpeg .mp3
AddType video/mp4 .mp4
AddType video/ogg .ogv
AddType video/webm .webm

IndexIgnore CVS

Redirect 410 /includes/bio.php
Redirect 410 /index.php/links/
Redirect 410 /index.php/news/newsletter/
RedirectMatch 301 ^\/entry/([^$]*)([|/]) /index.php/news/entry/$1/
RedirectMatch 301 ^\/audio/([^$]*) /music/audio/$1
RedirectMatch 301 ^/news/archives.php /index.php/news/archives/
RedirectMatch 301 ^/music/$ /index.php/music/

RewriteEngine On
#RewriteCond %{QUERY_STRING} ^address=([^&]*)\&name=([^&]*)\&code=([^&]*)$
#RewriteRule ^index\.php/news/newsletter/$ /index.php/news/newsletter/%3/%1/%2/? [R=301]
RewriteCond %{QUERY_STRING} ^C=(.*)$
RewriteRule ^index\.php/music/$ /index.php/music/? [R=301]

AuthType Basic
AuthUserFile /home/nemesisv/.htpasswd
AuthName "eponymous4.com dev trunk site"
require valid-user