/* Vigilant Media style */
input[type=text], input[type=email], select, textarea
{
	background-color: #000;
	color: #FFF;
	font-size: 100%;
	font-family: inherit;
	border: 1px solid #FFF;
}

input[type=submit], input[type=reset], input[type=button]
{
}

input[type=radio], input[type=checkbox], input[type=image]
{
	background-color: transparent;
	border: none;
}

label
{
	float: left;
	font-weight: bold;
	width: 150px;
}

label.error, span.error
{
	color: #F99;
	display: none;
}

.form_hidden
{
	display: none;
}

.smaller
{
	font-size: smaller;
}

/* Elements */

*
{
}

html, body
{
	font-family: tahoma, 'trebuchet ms', verdana, helvetica, arial;
	height: 100%;
}

h1, h2, h3, h4, h5, h6
{
	font-family: helvetica, tahoma, 'trebuchet ms', verdana, arial, sans-serif;
	color: #FFF;
}

h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1.2em;}

body
{
	background-color: #101010;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top left;
	color: #FFF;
	margin: 0px;
}

a, a:focus
{
	color: #FC0;
	text-decoration: none;
}

a:hover
{
	color: #FC0;
	text-decoration: none;
	border-bottom: 1px dotted #FC0;
}

a img
{
	border: none;
}

a.no-fx:hover
{
	border-bottom: none;
}

table
{
	border-collapse:collapse;
	border-spacing:0;
}

tbody tr:nth-child(even) td, tbody tr.even td
{
	background:#666;
}

th, td, caption
{
	padding: 1px 3px 1px 2px;
}

/* Blocks */

#container
{
	margin: 0 0 auto;
	height: 100%;
}

#masthead
{
	position: fixed;
	left: 680px;
	text-align: center;
	overflow: hidden;
	z-index: 1;
}

#title, #title a
{
	color: #FFF;
	text-decoration: none;
	border: 0px;
	font-family: 'lucida sans unicode';
	font-size: 24pt;
	font-weight: normal;
	margin-bottom: 0;
}

#content
{
	background: url('/images/transparent_black.png') repeat scroll 0 0 transparent;
	border-left: 1px dotted #999;
	border-right: 1px dotted #999;
	min-height: 100%;
	z-index: 0;
}

/* Classes */

.album-container
{
	width: 100%;
	overflow: hidden;
}

.album-left
{
	width: 200px;
	padding-right: 10px;
	float: left;
}

.album-right
{
	margin-left: 220px;
}

.album-cover
{
	border: 1px solid #FFF;
}

.feed, a.feed:hover
{
	background-color: #F60;
	color: #FFF;
	text-decoration: none;
	border: 0px;
}

.indent-20px
{
	margin-left: 20px;
}

.indent-40px
{
	margin-left: 40px;
}

.no-top-margin
{
	margin-top: 0px;
}

img.bg
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}

table.track-table
{
	border: 1px dotted #999;
	border-collapse: collapse;
	width: 250px;
}

table.track-table tr.alt-row
{
	background-color: #663;
}

table.track-table th
{
	border: 1px dotted #999;
	font-size: 7pt;
	color: #FFF;
	background-color: #333;
}

table.track-table td
{
	border: 1px dotted #999;
	font-size: 8pt;
}

table.track-table td.track-column
{
	width: 50px;
}

table.track-table td.play-column
{
	width: 20px;
}

table.track-table td.download-column
{
	width: 20px;
}

table.track-table td.download-column a:hover
{
	border-bottom: 0px;
}

ul.album-list
{
	margin-left: 0px;
}

ul.album-list li
{
	display: inline;
}

@media screen
{
	body>div#masthead
	{
		position: fixed;
	}
}
