html, body
{
	height: 100%;
}

body
{
	color: #000;
	font: 13px tahoma, 'trebuchet ms', verdana, arial, helvetica;
	margin: 0px;
}

a
{
	color: #FC0;
	text-decoration: none;
}

a:hover
{
	text-decoration: none;
	border-bottom: 1px dotted #FC0;
}

table
{
	font-size: 13px
}

label
{
	float: left;
	font-weight: bold;
	width: 150px;
}

.indent
{
	margin-left: 40px;
}

.album-container
{
	width: 100%;
	overflow: auto;
}

.album-left
{
	width: 200px;
	padding-right: 10px;
	float: left;
}

.album-right
{
	margin-left: 220px;
}

#Debug
{
	position: relative;
	height: 100%;
}

#Masthead
{
}

#Nav-Left
{
	font-family: 'lucida sans unicode';
	font-size: 24pt;
}

#Content
{
}


@media screen
{
	body>div#Masthead
	{
		position: fixed;
	}

	body>div#Nav-Right
	{
		position: fixed;
	}
}
