textarea
{
	width: auto;
	height: auto;
}

#masthead
{
	position: relative;
	left: auto;
	text-align: center;
	overflow: hidden;
	z-index: 1;
}

#content
{
	background: url('/images/transparent_black.png') repeat scroll 0 0 transparent;
	border: 1px dotted #999;
	min-height: 100%;
	z-index: 0;
}

@media screen
{
	body > div#masthead
	{
		position: relative;
	}
}