body {
	background-color: #781205;
	background-image: linear-gradient(top, rgb(184,31,14), rgb(120,18,5) 60px);
	background-image: -o-linear-gradient(top, rgb(184,31,14), rgb(120,18,5) 60px);
	background-image: -moz-linear-gradient(top, rgb(184,31,14), rgb(120,18,5) 60px);
	background-image: -webkit-linear-gradient(top, rgb(184,31,14), rgb(120,18,5) 60px);
	background-image: -ms-linear-gradient(top, rgb(184,31,14), rgb(120,18,5) 60px);
	color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
	color: #FFF;
}

a {
	color: #DCA36C;
}

a:active {
	background-color: #8A352A;
}

a:hover {
	text-decoration: none;
	color: #FFF;
}

a.comment-reply-link {
	border: 1px solid #000;
	border-radius: 3px;
	padding: 3px 8px;
	text-decoration: none;
	background-color: #EEE;
	color: #000;
}

cite.fn {
	margin-left: 6px;
}

footer {
	margin-bottom: 1.5em;
}

textarea {
	width: 100%;
	height: 125px;
}

h3.headline {
	font-family: "Arimo", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
}

.comment-author {
	margin-bottom: 1.5em;
}

.comment-meta {
	margin-bottom: 1.5em;
}

.comment-author img {
	vertical-align: text-top;
}

.comment-body {
	margin-bottom: 3em;
	position: relative;
}

.comment-list, ul.children {
	list-style: none;
}

.entry-content {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 1.5em;
	margin-bottom: 1.5em;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	color: #FFF;
}

.entry-meta {
	border: 1px solid #DC5543;
	border-radius: 6px;
	text-align: center;
	margin-bottom: 1.5em;
}

.entry-meta time {
	font-size: 1.25em;
}

.entry-meta a {
	color: #FFF;
}

.headline a {
	text-decoration: none;
}

.headline a:hover {
	color: #640431;
}

.headline a:active {
	background-color: #DC796C;
}

.menu ul {
	list-style: none;
}

.menu ul li {
	display: inline;
	margin-left: 24px;
}

.nav-icon-list {
	list-style: none;
}

.nav-icon-list li {
	display: inline;
	margin-left: 6px;
}

#masthead {
	margin-top: 1.5em;
}

#masthead-title {
	text-align: center;
}

#main-nav {
	border-color: #B8220E;
	margin-bottom: 3em;
	border-radius: 6px;
	text-align: center;
}

#page-nav {
}

#footer-content, #page-nav-content {
	text-align: center;
}

#page-nav-content {
	border: 1px solid #B8220E;
	border-radius: 6px;
}

#page-nav-spacer, #footer-spacer {
}

#search-input {
	border-radius: 3px;
}

#search-box label, #search-input {
	font-size: 1em;
}

#sidebar-1
{
	padding-left: 40px;
}

#title {
	font-family: "Cabin", Helvetica, Arial, sans-serif;
	font-size: 3em;
	text-transform: lowercase;
	margin-bottom: 0;
}

#subtitle {
	font-size: 1em;
}
