*
{
	font-family: trebuchet ms, tahoma, verdana, arial, helvetica;
}

body
{
	font-size: 13px;
	color: #FFF;
	background-color: #333;
	margin: 0px 0px;
}

a
{
	color: #FC0; text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

hr
{
	background-color: #FFF;
	border: 0px solid #FFF;
}

input, select, textarea
{
	color: #FFF;
	background-color: #000;
	font-size: 100%;
	border: 1px solid #FFF;
}

input[type=radio], input[type=checkbox]
{
	background-color: transparent;
	border: none;
}

input[type=submit], input[type=reset], input[type=button]
{
	background-color: #633;
}

table
{
	font-size: 100%;
}

label
{
	float: left;
	font-weight: bold;
	width: 150px;
}

label.error, span.error
{
	color: #F99;
	display: none;
}

#Masthead
{
	background-color: #000;
	border-bottom: 1px dotted #F99;
	overflow: hidden;
	width: 100%;
	z-index: 3;
}

#Masthead-Left
{
	position: relative;
	float: left;
	height: 40px;
	width: 450px;
	vertical-align: text-bottom;
}

#Masthead-Right
{
	position: relative;
	float: right;
	height: 40px;
	width: 400px;
	vertical-align: text-bottom;
}

#Masthead-Right a
{
	color: #F99;
}

.Bottom-Align
{
	position: absolute;
	bottom: 0px;
	width: 100%;
	font-size: 90%;
}

#Content
{
	position: absolute;
	top: 65px;
	overflow: hidden;
	width: 100%;
	z-index: 0;
}

#Main
{
	float: left;
	margin-left: 25px;
	width: 650px;
	background-color: #633;
	padding: 10px;
	border: 1px dotted #999;
}

#Right
{
	float: right;
	width: 250px;
	margin-right: 50px;
}

.Columns
{
	overflow: hidden;
	width: 100%;
}

.Column-Left
{
	float: left;
	background-color: #633;
	margin-left: 25px;
	width: 675px;
	padding: 10px;
	border-left: 1px dotted #999;
	border-right: 1px dotted #999;
}

.Column-Left.Top
{
	border-top: 1px dotted #999;
}

.Column-Left.Bottom
{
	border-bottom: 1px dotted #999;
}

.Column-Right
{
	float: left;
	width: 250px;
	text-align: center;
}

.form_hidden
{
	display: none;
}

.smaller
{
	font-size: smaller;
}

@media screen
{
	#Masthead
	{
		position: fixed;
	}
	
	#Background
	{
		position: fixed;
	}
}
