/*
    Document   : layout
    Created on : May 7, 2012, 6:45:32 PM
    Author     : Greg Bueno
    Description:
        Rules for Vigilant Media mobile layouts.
*/

input[type=text], textarea {
	border-radius: 4px;
	padding: 3px;
}

label {
	float: left;
	width: 150px;
	margin-right: 10px;
}

ul.company-info {
	list-style-type: none;
	padding: 0;
	margin-left: 0;
}

ul.company-info li {
}

#contact {
	text-align: center;
}

#container, .container {
	display: block;
	width: auto;
	margin: 0 auto;
}

#introduction, #contact {
	float: none;
	width: auto;
	margin-right: 0px;
	padding-left: 40px;
	padding-right: 40px;
	margin-bottom: 1.5em;
}

#masthead {
	padding-bottom: 0;
	margin-bottom: 1.5em;
	background-color: #904848;
	background-image: linear-gradient(bottom, rgb(144, 72, 72), rgb(200, 145, 145) 80px);
	background-image: -o-linear-gradient(bottom, rgb(144, 72, 72), rgb(200, 145, 145) 80px);
	background-image: -moz-linear-gradient(bottom, rgb(144, 72, 72), rgb(200, 145, 145) 80px);
	background-image: -webkit-linear-gradient(top, rgb(144, 72, 72), rgb(200, 145, 145) 80px);
	background-image: -ms-linear-gradient(bottom, rgb(144, 72, 72), rgb(200, 145, 145) 80px);
	color: #FFF;
}

#masthead-title {
	float: none;
	width: auto;
	margin-top: 1.5em;
	margin-right: 10px;
}

#nav-main {
	float: none;
	margin-top: 0;
}

#nav-main ul {
	list-style-type: disc;
}

#nav-main ul li {
	display: block;
	margin-left: 20px;
	padding: 3px 9px;
}

#panels {
	float: none;
	width: auto;
	margin-right: 0;
	margin-bottom: 3em;
}

#title {
	margin-bottom: 0.1em;
}

.button {
	padding: 4px 10px 4px;
	border-radius: 4px;
	border: 1px solid #000;
	background-color: #304B75;
	cursor: pointer;
}

.centered {
	text-align: center;
}


.folio-image {
	border: 3px solid #A7A7A7;
	border-radius: 4px;
}

.form-hidden {
	display: none;
}

.four-column-single {
	float: none;
	width: auto;
	margin-right: 10px;
	padding-right: 40px;
	border-right: none;
}

.four-column-single-last {
	float: none;
	width: auto;
	margin-right: 0;
}

.full-column-last {
	float: none;
	width: auto;
	margin-right: 0;
	margin-bottom: 1.5em;
	padding-left: 40px;
	padding-right: 40px;
}

.img-align-right {
	float: right;
	margin-left: 10px;
}

.nav-social {
	list-style-type: none;
}

.nav-social li {
	display: inline-block;
	margin-right: 6px;
}

.resume-column-1 {
	float: none;
	width: auto;
	padding-top: 1.5em;
	padding-left: 40px;
	padding-right: 40px;
	margin-right: 0;
	border-top: none;
}

.resume-column-2 {
	float: none;
	width: auto;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 1.5em;
	margin-right: 0;
	border-left: none;
	border-top: none;
}

.resume-skills li {
	float: left;
	margin-right: 24px;
}

.three-column-single {
	float: none;
	width: auto;
	margin-right: 10px;
	padding-left: 0px;
	padding-right: 0px;
	border-right: none;
}

.three-column-single-last {
	float: none;
	width: auto;
	margin-right: 0;
	padding-left: 0px;
	padding-right: 0px;
}

.three-columns {
	float: none;
	width: auto;
	margin-right: 0;
	margin-bottom: 3em;
}

.two-column-single {
	float: none;
	width: auto;
	margin-right: 10px;
	padding-left: 0px;
	padding-right: 0px;
	border-right: none;
}

.two-column-single-last {
	float: none;
	width: auto;
	margin-right: 0;
	padding-left: 0px;
	padding-right: 0px;
}

