/* Overwritten elements */
body
{
	font-family: 'trebuchet ms', sans-serif;
	color: #FFF;
	background-color: #333;
}

a, a:focus, a:hover
{
	color: #CC9;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

input, input[type=text], select, textarea
{
	color: #FFF;
	background-color: #000;
	font-size: 100%;
	font-family: inherit;
	border: 1px solid #FFF;
}

input[type=radio], input[type=checkbox]
{
	background-color: transparent;
	border: none;
}

input[type=submit], input[type=reset], input[type=button]
{
	background-color: #633;
}

table
{
	font-size: 100%;
}

label
{
	float: left;
	font-weight: bold;
	width: 150px;
}

label.error, span.error
{
	color: #F99;
	display: none;
}

.hidden
{
	display: none;
}


#masthead
{
	color: #FFF;
	background-color: #000;
	border-bottom: 1px dotted #F99;
}

#title
{
	font-family: 'book antiqua', serif;
	color: #FFF;
	display: inline;
}

#subtitle
{
	color: #FFF;
	display: inline;
	font-size: 85%;
}

#masthead-right
{
	color: #FFF;
	text-align: right;
}

#content
{
	font-size: 13px;
	color: #FFF;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6
{
	font-family: 'helvetica', sans-serif;
	color: #FFF;
	background-color: #333;
}

#frame-2, #frame-2 h1, #frame-2 h2, #frame-2 h3
{
	background-color: #600;
}

#frame-2.box
{
	border: 1px dotted #F99;
}

#facebox table
{
	width: 370px;
}

#facebox .body
{
	color: #000;
}

#facebox a
{
	color: #933;
}

.folio-info
{
	display: none;
	font-size: smaller;
}

.smaller
{
	font-size: smaller;
}

.resume-duty
{
	font-size: 90%;
}

.resume-summary-list
{
	list-style-type: square;
}

.form_hidden
{
	display: none;
}

#main-nav li
{
	list-style-type: none;
}

#main-nav li:before
{
	content: "• ";
}

#main-nav li.nav-current-page:before
{
	content: "» ";
}

