ErrorDocument 401 /index.php/aus/error/401/
ErrorDocument 403 /index.php/aus/error/403/
ErrorDocument 404 /index.php/aus/error/404/
ErrorDocument 500 /index.php/aus/error/500/

AddType image/x-icon .ico

<Limit GET>
order allow,deny
allow from all
deny from 122.161.
deny from 122.162.
deny from 122.163.
deny from 67.64.90.
deny from 67.64.91.
deny from 209.198.140.235
deny from 216.30.133.144
deny from 122.
deny from 184.105.140.157
</LIMIT>

Redirect 410 /meetings.php
Redirect 410 /survey.php
RedirectMatch 301 /members/register.php /index.php/members/register/
RedirectMatch 301 /members/password.php /index.php/members/password/
RedirectMatch 301 /members/news.php /index.php/news/
RedirectMatch 301 /robots.php /index.php/aus/robots/
RedirectMatch 301 ^/bloggers.php /index.php/aus/bloggers/
RedirectMatch 301 ^/about.php /index.php/aus/about/
RedirectMatch 301 ^/contact.php /index.php/aus/contact/
RedirectMatch 301 ^/entry/([0-9]*)(/|$) /index.php/news/entry/$1/
RedirectMatch 301 ^/terms.php /index.php/aus/terms/
RedirectMatch 301 ^/directory/$ /index.php/directory/
RedirectMatch 301 ^/help/$ /index.php/help/

RewriteEngine On
RewriteRule ^entry/([0-9]*)(/|$) /index.php/news/entry/$1/
RewriteCond %{HTTP_USER_AGENT} ^Java/.* [NC]
# RewriteCond %{HTTP_USER_AGENT} ^panscient\.com.* [NC]
RewriteRule ^.*$ - [F]
RewriteCond %{QUERY_STRING} ^siteID=([0-9]+).*$
RewriteRule ^directory\/posts\.php$ /index.php/directory/posts/%1/? [R=301]
RewriteCond %{QUERY_STRING} ^siteID=([0-9]+).*$
RewriteRule ^directory\/rss\.php$ /index.php/directory/feed/%1/? [R=301]
RewriteCond %{QUERY_STRING} ^topic=(.*)$
RewriteRule ^help\/topic\.php$ /index.php/help/topic/%1/? [R=301]
RewriteCond %{QUERY_STRING} ^entry_id=([0-9]+)$
RewriteRule ^index\.php\/news\/$ /index.php/news/entry/%1/? [R=301]
RewriteCond %{QUERY_STRING} ^PHPSESSID=.*$
RewriteRule ^index\.php(.*)/$ /index.php$1/? [R=301]
RewriteCond %{QUERY_STRING} ^C=(.*)$
RewriteRule ^(.*)/$ /index.php/$1/? [R=301]

SetEnvIf HOST dev.austin-stories.com dev
SetEnvIf HOST test.austin-stories.com test
AuthType Basic
AuthUserFile /home/nemesisv/.htpasswd
AuthName "Austin Stories development site"
require valid-user

Order allow,deny
Allow from all
Deny from env=dev
Deny from env=test
Satisfy any

