/*
    Document   : musicwhore
    Created on : Aug 12, 2009, 8:31:58 AM
    Author     : gbueno
    Description:
        Overridden style rules for Musicwhore.org, based on global_blueprint.css
*/

/*
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#content
{
	background-color: #333;
	color: #FFF;
	background-image: url('/images/musicwhore_bg_v07.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}

#body
{
	background-image: url('/images/musicwhore_content_v07.gif');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}
