/* 
    Document   : typography
    Created on : Sep 7, 2012, 10:43:23 PM
    Author     : Greg Bueno
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
	font-family: "CartoGothicStd";
	src: url("../fonts/CartoGothicStd-Book-webfont.eot");
	src: url("../fonts/CartoGothicStd-Book-webfont.eot?iefix") format("eot"),
		url("../fonts/CartoGothicStd-Book-webfont.woff") format("woff"),
		url("../fonts/CartoGothicStd-Book-webfont.ttf") format("truetype"),
		url("../fonts/CartoGothicStd-Book-webfont.svg#webfont") format("svg");
}
@font-face {
	font-family: "CartoGothicStd";
	src: url("../fonts/CartoGothicStd-BoldItalic-webfont.eot");
	src: url("../fonts/CartoGothicStd-BoldItalic-webfont.eot?iefix") format("eot"),
		url("../fonts/CartoGothicStd-BoldItalic-webfont.woff") format("woff"),
		url("../fonts/CartoGothicStd-BoldItalic-webfont.ttf") format("truetype"),
		url("../fonts/CartoGothicStd-BoldItalic-webfont.svg#webfont") format("svg");
	font-weight: bold;
	font-style: italic, oblique;
}
@font-face {
	font-family: "CartoGothicStd";
	src: url("../fonts/CartoGothicStd-Bold-webfont.eot");
	src: url("../fonts/CartoGothicStd-Bold-webfont.eot?iefix") format("eot"),
		url("../fonts/CartoGothicStd-Bold-webfont.woff") format("woff"),
		url("../fonts/CartoGothicStd-Bold-webfont.ttf") format("truetype"),
		url("../fonts/CartoGothicStd-Bold-webfont.svg#webfont") format("svg");
	font-weight: bold;
}

#download, #download h4 {
	color: #FFF;
}

#download a {
	color: #CCC;
}

#download a.button {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

#introduction {
	font-family: 'CartoGothicStd', Helvetica, Arial, sans-serif;
	font-size: 120%;
	line-height: 2em;
	text-transform: uppercase;
}

#subtitle {
	font-size: 120%;
}


