ErrorDocument 401 /index.php/vm/error/401/
ErrorDocument 403 /index.php/vm/error/403/
ErrorDocument 404 /index.php/vm/error/404/
ErrorDocument 500 /index.php/vm/error/500/

AddType image/x-icon .ico
AddType text/xml .rdf

IndexIgnore CVS

Redirect 410 /content/watch.php
Redirect 410 /includes/ho_header-a.php
Redirect 410 /includes/global.php

SetEnvIf HOST dev.vigilantmedia.com dev
SetEnvIf HOST test.vigilantmedia.com test
AuthType Basic
AuthUserFile /home/nemesisv/.htpasswd
AuthName "Vigilant Media development site"
require valid-user

Order allow,deny
Allow from all
Deny from env=dev
Deny from env=test
Satisfy any
